policy_module(widecoin, 1.100.1)

########################################
#
# Declarations
#

type widecoin_t;
type widecoin_exec_t;
init_daemon_domain(widecoin_t, widecoin_exec_t)

permissive widecoin_t;

type widecoin_initrc_exec_t;
init_script_file(widecoin_initrc_exec_t)

type widecoin_conf_t;
files_type(widecoin_conf_t)

type widecoin_var_lib_t;
files_type(widecoin_var_lib_t)

type widecoin_var_run_t;
files_type(widecoin_var_run_t)

type widecoin_port_t;
corenet_port(widecoin_port_t)

########################################
#
# widecoin local policy
#
allow widecoin_t self:process { fork };

allow widecoin_t self:fifo_file rw_fifo_file_perms;
allow widecoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(widecoin_t, widecoin_conf_t, widecoin_conf_t)
manage_files_pattern(widecoin_t, widecoin_conf_t, widecoin_conf_t)

manage_dirs_pattern(widecoin_t, widecoin_var_lib_t, widecoin_var_lib_t)
manage_files_pattern(widecoin_t, widecoin_var_lib_t, widecoin_var_lib_t)
files_var_lib_filetrans(widecoin_t, widecoin_var_lib_t, { dir file })

manage_dirs_pattern(widecoin_t, widecoin_var_run_t, widecoin_var_run_t)
manage_files_pattern(widecoin_t, widecoin_var_run_t, widecoin_var_run_t)

sysnet_dns_name_resolve(widecoin_t)
corenet_all_recvfrom_unlabeled(widecoin_t)

allow widecoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(widecoin_t)
corenet_tcp_sendrecv_generic_node(widecoin_t)
corenet_tcp_sendrecv_all_ports(widecoin_t)
corenet_tcp_bind_generic_node(widecoin_t)

gen_require(`
    type widecoin_port_t;
')
allow widecoin_t widecoin_port_t:tcp_socket name_bind;

gen_require(`
    type widecoin_port_t;
')
allow widecoin_t widecoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(widecoin_t)

files_read_etc_files(widecoin_t)

miscfiles_read_localization(widecoin_t)

sysnet_dns_name_resolve(widecoin_t)

allow widecoin_t widecoin_exec_t:file execute_no_trans;
allow widecoin_t self:process setsched;
corecmd_exec_ls(widecoin_t)
corenet_tcp_connect_http_port(widecoin_t)
dev_read_urand(widecoin_t)
fs_getattr_xattr_fs(widecoin_t)
kernel_read_system_state(widecoin_t)
