
## <summary>policy for widecoin</summary>


########################################
## <summary>
##	Transition to widecoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`widecoin_domtrans',`
	gen_require(`
		type widecoin_t, widecoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, widecoin_exec_t, widecoin_t)
')


########################################
## <summary>
##	Execute widecoin server in the widecoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`widecoin_initrc_domtrans',`
	gen_require(`
		type widecoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, widecoin_initrc_exec_t)
')


########################################
## <summary>
##	Search widecoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`widecoin_search_lib',`
	gen_require(`
		type widecoin_var_lib_t;
	')

	allow $1 widecoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read widecoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`widecoin_read_lib_files',`
	gen_require(`
		type widecoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, widecoin_var_lib_t, widecoin_var_lib_t)
')

########################################
## <summary>
##	Manage widecoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`widecoin_manage_lib_files',`
	gen_require(`
		type widecoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, widecoin_var_lib_t, widecoin_var_lib_t)
')

########################################
## <summary>
##	Manage widecoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`widecoin_manage_lib_dirs',`
	gen_require(`
		type widecoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, widecoin_var_lib_t, widecoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a widecoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`widecoin_admin',`
	gen_require(`
		type widecoin_t;
		type widecoin_initrc_exec_t;
		type widecoin_var_lib_t;
	')

	allow $1 widecoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, widecoin_t)

	widecoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 widecoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, widecoin_var_lib_t)

')

